* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  overflow-x: hidden; }

.pagar, .pagar form, .pagar form .pagarFormItem {
  height: 70vh;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around; }
  .pagar form .pagarFormItem .importeFinal {
    background-color: rgba(47, 79, 79, 0.448); }
  .pagar form .pagarFormItem .checkbox {
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-around; }
  .pagar #finalPrograma {
    width: 80px;
    height: 40px;
    border-radius: 3px;
    background-color: cadetblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white; }
    .pagar #finalPrograma:hover {
      cursor: grab;
      background-color: #70bec0; }

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
  width: 100vw;
  background-color: #0b003b; }
  nav ul {
    list-style: none;
    width: 50vw;
    display: flex;
    justify-content: space-around;
    color: white; }
    nav ul li {
      display: flex;
      justify-content: space-around; }

.hide {
  display: none; }

h1 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
  text-transform: uppercase; }

h2, h3 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: black;
  text-align: center; }

.principal {
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
  position: relative;
  background-color: #b7bcdf;
  z-index: 1; }
  .principal #productosSeccion #tituloProd {
    height: 50px;
    width: 100vw;
    background-color: rgba(47, 79, 79, 0.448);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .principal #productosSeccion #catProductos, .principal #productosSeccion #catProductos .tituloCat {
    display: flex;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .principal #productosSeccion #catProductos .tituloCat {
      height: 50px;
      width: 100vw;
      background-color: rgba(47, 79, 79, 0.448); }
    .principal #productosSeccion #catProductos .cajaCategoria {
      width: 100vw;
      display: flex;
      direction: column;
      justify-content: center;
      align-items: center; }
      .principal #productosSeccion #catProductos .cajaCategoria .subCajaCategoria {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-left: 30px;
        align-items: center;
        width: 100%; }
  .principal #toggleCarrito {
    z-index: 99;
    margin: 1%;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-left: -88vw;
    margin-top: 5vh; }
    .principal #toggleCarrito:hover {
      transform: scale(1.2); }
    .principal #toggleCarrito #btnVerCarrito {
      background-color: #3e6b6c;
      height: 80px;
      width: 80px;
      border: none;
      transition: all;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .principal #toggleCarrito #btnVerCarrito i {
        color: white;
        font-size: 30pt; }
        .principal #toggleCarrito #btnVerCarrito i .volver {
          font-size: 15pt;
          font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }
      .principal #toggleCarrito #btnVerCarrito #contador {
        height: 15px;
        width: 15px;
        background-color: red;
        border-radius: 50%;
        display: flex;
        margin-left: 5px;
        align-items: center;
        justify-content: center; }
        .principal #toggleCarrito #btnVerCarrito #contador #pContador {
          font-size: 8pt;
          color: white; }

.cartaProducto {
  height: 500px;
  width: 300px;
  margin: 10px;
  border: solid 2px gray;
  border-radius: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: lightgray; }
  .cartaProducto .imgProd {
    width: 180px;
    height: 180px; }
  .cartaProducto .listaProducto {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    height: 150px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600; }
    .cartaProducto .listaProducto .cantProd {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      height: 50%; }
      .cartaProducto .listaProducto .cantProd .inputCant {
        width: 150px;
        height: 30px; }
  .cartaProducto .botonesProd {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: auto;
    width: 90%; }
    .cartaProducto .botonesProd .btnCarta {
      height: 60px;
      width: 100px;
      padding: 5px;
      border: none;
      border-radius: 20px;
      font-size: 20pts;
      font-weight: 600;
      color: white;
      background-color: #3e6b6c;
      transition: all; }
      .cartaProducto .botonesProd .btnCarta:hover {
        background-color: #79a1a2; }

.carritoDetalle {
  display: flex;
  height: 10vh;
  width: 100vw;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  background-color: rgba(47, 79, 79, 0.448);
  z-index: 1; }
  .carritoDetalle h3 {
    display: flex; }
  .carritoDetalle #btnPagar {
    width: 80px;
    height: 40px;
    border-radius: 3px;
    background-color: #70bec0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-style: hidden;
    color: white; }
    .carritoDetalle #btnPagar p {
      font-size: 14pt; }
    .carritoDetalle #btnPagar:hover {
      cursor: grab;
      background-color: #6acecb; }

#carrito {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  height: 70vh;
  background-color: #b7bcdf; }
  #carrito .productosCarrito {
    display: flex;
    padding: 1%;
    justify-content: space-around;
    background-color: lightgrey;
    align-items: center;
    border: solid 2px gray;
    height: 200px;
    width: 100%; }
    #carrito .productosCarrito ul {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 80%; }
      #carrito .productosCarrito ul li {
        font-size: 16pt;
        font-weight: 400;
        display: flex;
        justify-content: space-around; }
    #carrito .productosCarrito .imgCarrito {
      height: 100px;
      width: 100px; }
    #carrito .productosCarrito .elimCarrito {
      height: 20px;
      width: 20px;
      border-radius: 50%;
      background-color: red;
      color: white;
      border: none; }
      #carrito .productosCarrito .elimCarrito:hover {
        background-color: #ff4b4b; }

footer {
  background-color: #0b003b;
  height: 10vh;
  width: 100vw;
  display: flex;
  align-items: center; }
  footer .footerContenido {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    width: 100%; }
