.hide {
    display: none;
}

h1{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:white;
    text-transform: uppercase;
}
h2,h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    text-align: center;

}

.principal {
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    position: relative;
    background-color: rgb(183, 188, 223);
    z-index: 1;
    #toggleCarrito {
        z-index: 99;
        margin: 1%;
        border-radius: 50%;
        height: 80px;
        width: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        margin-left: -88vw;
        margin-top: 2vh;
        &:hover{
            transform: scale(1.2);
        }
        
        #btnVerCarrito {
            background-color: rgb(62, 107, 108);
            height: 80px;
            width: 80px;
            border: none;
            transition: all;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            i{
                color: white;
                font-size: 30pt;
                
                .volver {
                 font-size: 15pt;
                 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;   
                }
            }
            #contador {
                height: 15px;
                width: 15px;
                background-color: red;
                border-radius: 50%;
                display: flex;
                margin-left: 5px;
                align-items: center;
                justify-content: center;
                #pContador {
                    font-size: 8pt;
                    color: white;
                }
            }
        }
    }

    .cajaCategoria {
        width: 100vw;
        display: flex;
        direction: column;
        justify-content: center;
        align-items: center;
        .subCajaCategoria {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
            width: 90%;
        
        }
    }

}
.cartaProducto{
    height: 500px;
    width: 300px;
    border: solid 2px gray;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: lightgray;
    .imgProd {
        width: 180px;
        height: 180px;
    
    }
    .listaProducto {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        list-style: none;
        height: 150px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 600;
        .cantProd {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            height: 50%;
            .inputCant {
             
                width: 150px;
                height: 30px;
                ;
                
            }
        }
    }
    .botonesProd {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: auto;
        width: 90%;
        .btnCarta {
            height:60px;
            width: 100px;
            padding: 5px;
            border: none;
            border-radius: 20px;
            font-size: 20pts;
            font-weight: 600;
            color: white;
            background-color:  rgb(62, 107, 108);
            transition: all;
            &:hover {
                background-color: rgb(121, 161, 162) ;
            }
        }
       
    }
}
.carritoDetalle {
    display: flex;
    height: 10vh;
    width: 100vw;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    background-color: rgba(47, 79, 79, 0.448);
    z-index: 1;
    h3 {
        display: flex;
    }
    #btnPagar {
        width: 80px;
        height: 40px;
        border-radius: 3px;
        background-color: rgb(112, 190, 192);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-style: hidden;
        color: white;
        p {
            font-size: 14pt;
        }
        &:hover {
            cursor: grab;
            background-color:rgb(106, 206, 203) ;
        }
    }
}
#carrito {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    height: 70vh;
    background-color:  rgb(183, 188, 223);
    .productosCarrito {
        display: flex;
        padding: 1%;
        justify-content:space-around;
        background-color:lightgrey;
        align-items: center;
        border: solid 2px gray ;
        height: 200px;
        width: 100%;
        ul {
           display: flex;
           justify-content: space-around; 
           align-items: center;
           width: 80%;
           li {
            font-size: 16pt;
            font-weight: 400;
            display: flex;
            justify-content: space-around;
           }
        }  
        .imgCarrito {
            height: 100px;
            width: 100px;
        }
        .elimCarrito {
            height: 20px;
            width: 20px;
            border-radius: 50%;
            background-color: red;
            color: white;
            border: none;
            &:hover {
                background-color: rgb(255, 75, 75);
            }
        }
    }
}