nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    width: 100vw;
    background-color: rgb(11, 0, 59);

    ul {
        list-style: none;
        width: 50vw;
        display: flex;
        justify-content: space-around;
        color: white;

        li {
            display: flex;
            justify-content: space-around;
        }
    }


}